.vscode/
libcoap/
check_*
config.local.env
# certificates
*.pem
*.key
*.der
.qodo
.old
.bench-env

bench-data
.bench-data
.pcapng
*.csv
*.pcapng
*.txt
*.log
*.png
*.pdf
!requirements.txt
.old/
*.csv.*
